
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/inspinia-gh-pages/img/profile_small.jpg" />

                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Admin Adı</span>
                        <span class="text-muted text-xs block">Yetki Adı <b class="caret"></b></span>
                    </a>
                </div>
                <div class="logo-element">


                </div>
            </li>
            <li>
                <a href="/Admin/Widget/Index/"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span>  </a>
            </li>
            <li>
                <a href="/Admin/Writer/Index/"><i class="fa fa-th-large"></i> <span class="nav-label">Yazar Ajax İşlemleri</span>  </a>
            </li>

            <li>
                <a href="/Admin/Chart/Index/"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Grafikler</span>  </a>
            </li>


            <li>
                <a href="/Admin/Category/Index/"><i class="fa fa-group"></i> <span class="nav-label">Kategoriler</span>  </a>
            </li>
            <li>
                <a href="/Blog/Index/"><i class="fa fa-list-alt"></i> <span class="nav-label">Bloglar</span>  </a>
            </li>
            <li>
                <a href="/EmployeeTest/AddEmploye/"><i class="fa fa-list-alt"></i> <span class="nav-label">Yeni Çalışan Girişi</span>  </a>
            </li>







            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Blog/BlogListExcel/">
                    <span class="menu-title">Excel İşemleri</span>
                    <i class="mdi mdi-logout menu-icon"></i>
                </a>
            </li>


            <li>
                <a href="/Blog/Index/"><i class="fa fa-th-large"></i> <span class="nav-label">Siteye Git</span>  </a>
            </li>
            <li>
                <a href="/Blog/Index/"><i class="fa fa-close"></i> <span class="nav-label">Çıkış Yap</span></a>
            </li>

        </ul>
    </div>
</nav>