@*<div class="tech-btm">
        <img src="/web/images/sa3.jpeg" class="img-fluid" alt="">
    </div>*@

<
<br />
<br />
<div class="tech-btm">

    <h4>
        Bültenimize Katılın

    </h4>

    <form method="post">
        <input type="email" id="txtMail" placeholder="Email" required="" id="txtMail" name="Mail">
        <input type="submit" id="btn" value="Abone ol">
    </form>
</div>

